.site-container > header {
	background: $darkgrey;
	position: fixed;
	top: 0;
	left: 0em;
	width: 100%;
	height: $header-height;
	z-index: 100;

	.container {
		padding: 1.5em $side-padding 1em;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.logo {
		display: block;
		float: left;
		width: $logo-width;
		height: 48px;
		overflow: hidden;

		img {
			max-width: 100%;
		}
	}

	.main-nav {
		float: left;
		margin: 0.5rem 2rem 0 $side-padding;

		li {
			position: relative;
			display: inline-block;
			margin-left: 2.5em;

			&:first-child {
				margin-left: 0;
			}

			&.active {
				@include triangle(down, $darkgrey, before, 1.667rem, 0.7rem);

				&:before {
					position: absolute;
					left: 50%;
					margin-left: -0.8335em;
					bottom: -2.6em;
				}
			}
		}
	}

	.sub-nav {
		background: $blue;
		padding: 0.6em (($side-padding * 2) + $logo-width) 0.5em;

		ul {

		}

		li {
			display: inline-block;
			margin-left: 2em;

			&:first-child {
				margin-left: 0;
			}
		}
	}
}