@mixin clear {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin icon($name, $pseudo: before) {
	&:#{$pseudo} {
		@extend .icon;
		@extend .icon-#{$name}:before;
		@content;
	}
}

@mixin triangle($dir, $color, $pseudo: before, $width: 20px, $height: 20px) {
	&:#{$pseudo} {
		content: "";
		width: 0;
		height: 0;
		border-style: solid;

		@if($dir == up) {
			border-width: 0 ($width / 2) $height ($width / 2);
			border-color: transparent transparent $color transparent;
		}
		@if($dir == left) {
			border-width: ($height / 2) $width ($height / 2) 0;
			border-color: transparent $color transparent transparent;
		}
		@if($dir == right) {
			border-width: ($height / 2) 0 ($height / 2) $width;
			border-color: transparent transparent transparent $color;
		}
		@if($dir == down) {
			border-width: $height ($width / 2) 0 ($width / 2);
			border-color: $color transparent transparent transparent;
		}

		@content;
	}
}

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}

@mixin divider($position: bottom, $pseudo: after) {
	border-#{$position}: 1px solid rgba(white, 0.3);
	position: relative;

	&:#{$pseudo} {
		content: "";
		height: 1px;
		width: 100%;
		position: absolute;
		left: 0;
		#{$position}: 0;
		z-index: -1;
		background: rgba(black, 0.4);

		@if($position == top) {
			top: -2px;
		}
	}
}

@mixin cover($maxWidth: 130%, $maxHeight: 150%) {
	min-width: 100%;
	min-height: 100%;
	max-width: $maxWidth;
	max-height: $maxHeight;
	position: absolute;
	top: -9999px;
	bottom: -9999px;
	right: -9999px;
	left: -9999px;
	margin: auto;
}