// Colors
$darkgrey: #202020;
$orange: #ff7200;
$blue: #0097ff;

// Font stack
$cabin: 'Cabin', Arial, sans-serif;
$raleway: 'Raleway', sans-serif;

// Various dimensions
$header-height: 7.52rem;
$logo-width: 13em;
$side-padding: 4em;